In [1]:
import pandas as pd

In [42]:
df=pd.read_csv('IMDB_Movies_Dataset (2).csv')

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4988 non-null   object
 5   Metascore          3055 non-null   float64
 6   Cast               4982 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4986 non-null   object
 9   Languages          4968 non-null   object
 10  Budget             2651 non-null   object
 11  Worldwide Gross    3895 non-null   object
 12  Runtime            4989 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 506.8+ KB

In [44]:
df.isnull().sum()

Unnamed: 0              0
Title                   0
Average Rating          0
Director                0
Writer                  1
Metascore            1934
Cast                    7
Release Date            0
Country of Origin       3
Languages              21
Budget               2338
Worldwide Gross      1094
Runtime                 0
dtype: int64

In [45]:
df=df.dropna(subset='Country of Origin',axis=0)

In [46]:
df['Worldwide Gross'].fillna(df['Worldwide Gross'].mode()[0],inplace=True)

C:\Users\Shahrizod\AppData\Local\Temp\ipykernel_11844\3749273199.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Worldwide Gross'].fillna(df['Worldwide Gross'].mode()[0],inplace=True)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4986 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4986 non-null   int64
 1   Title              4986 non-null   object
 2   Average Rating     4986 non-null   float64
 3   Director           4986 non-null   object
 4   Writer             4985 non-null   object
 5   Metascore          3055 non-null   float64
 6   Cast               4979 non-null   object
 7   Release Date       4986 non-null   object
 8   Country of Origin  4986 non-null   object
 9   Languages          4968 non-null   object
 10  Budget             2651 non-null   object
 11  Worldwide Gross    4986 non-null   object
 12  Runtime            4986 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 545.3+ KB

In [49]:
df['Budget'].fillna(df['Budget'].mode(),inplace=True)

In [50]:
df['Metascore']

0        82.0
1         NaN
2       100.0
3         NaN
4         NaN
        ...
4984      NaN
4985      NaN
4986      NaN
4987      NaN
4988      NaN
Name: Metascore, Length: 4986, dtype: float64

In [63]:
df['Budget'].fillna(df['Budget'].mode()[0],inplace=True)

In [56]:
df=df.dropna(subset='Cast',axis=0)

In [52]:
df['Metascore'].fillna(df['Metascore'].median(), inplace=True)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Gender       889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        889 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.3+ KB

In [57]:
df=df.dropna(subset='Writer',axis=0)

In [59]:
df['Languages'].fillna(df['Languages'].mode()[0],inplace=True)

In [64]:
df.isnull().sum()

Unnamed: 0           0
Title                0
Average Rating       0
Director             0
Writer               0
Metascore            0
Cast                 0
Release Date         0
Country of Origin    0
Languages            0
Budget               0
Worldwide Gross      0
Runtime              0
dtype: int64

In [65]:
df['Worldwide Gross'].str.lstrip('$')

0        29,332,133
1         3,513,659
2       250,342,198
3               509
4               509
           ...
4984        290,754
4985            509
4986     29,893,636
4987     17,871,370
4988        550,031
Name: Worldwide Gross, Length: 4979, dtype: object

In [67]:
df['Worldwide Gross']=df['Worldwide Gross'].str.replace(r'[^\d.]','',regex=True).astype(float)

In [ ]:
r'[^/d.]','',regex=True).astype(float)

In [ ]:
str.replece(r'[^/d.]','',).astype(float)

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4979 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4979 non-null   int64
 1   Title              4979 non-null   object
 2   Average Rating     4979 non-null   float64
 3   Director           4979 non-null   object
 4   Writer             4979 non-null   object
 5   Metascore          4979 non-null   float64
 6   Cast               4979 non-null   object
 7   Release Date       4979 non-null   object
 8   Country of Origin  4979 non-null   object
 9   Languages          4979 non-null   object
 10  Budget             4979 non-null   object
 11  Worldwide Gross    4979 non-null   float64
 12  Runtime            4979 non-null   object
dtypes: float64(3), int64(1), object(9)
memory usage: 544.6+ KB

In [69]:
duplicated_rows=df.duplicated()

In [73]:
duplicated_rows.sum()

np.int64(0)

In [74]:
duplicated_rows

0       False
1       False
2       False
3       False
4       False
        ...
4984    False
4985    False
4986    False
4987    False
4988    False
Length: 4979, dtype: bool

In [75]:
df.drop_duplicates(inplace=True)

In [76]:
duplicated_col=df.columns[df.T.duplicated()]

In [77]:
df.drop(columns=duplicated_col, inplace=True)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4979 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4979 non-null   int64
 1   Title              4979 non-null   object
 2   Average Rating     4979 non-null   float64
 3   Director           4979 non-null   object
 4   Writer             4979 non-null   object
 5   Metascore          4979 non-null   float64
 6   Cast               4979 non-null   object
 7   Release Date       4979 non-null   object
 8   Country of Origin  4979 non-null   object
 9   Languages          4979 non-null   object
 10  Budget             4979 non-null   object
 11  Worldwide Gross    4979 non-null   float64
 12  Runtime            4979 non-null   object
dtypes: float64(3), int64(1), object(9)
memory usage: 673.6+ KB