# Encoding

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('/Users/abduroshyd/Downloads/titanic 2.csv')

In [5]:
for col in df.columns:
    if df[col].isnull().sum()>0:
        if df[col].dtype=='object':
            df[col].fillna(df[col].mode()[0],inplace=True)
        else:
            df[col].fillna(df[col].mean(),inplace=True)

/var/folders/wh/dy7k6khj2rl3tts1n3g7lzn40000gn/T/ipykernel_91221/1981421102.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(),inplace=True)
/var/folders/wh/dy7k6khj2rl3tts1n3g7lzn40000gn/T/ipykernel_91221/1981421102.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0],inplace=True)

In [6]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [7]:
df=pd.get_dummies(df,columns=['Sex'],dtype=int)

In [9]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [10]:
df['Name']=encoder.fit_transform(df['Name'])

In [11]:
df['Embarked']=encoder.fit_transform(df['Embarked'])

In [13]:
df.value_counts('Cabin')

Cabin
B96 B98        691
C23 C25 C27      4
G6               4
F2               3
C22 C26          3
              ...
C101             1
B94              1
B86              1
B82 B84          1
T                1
Name: count, Length: 147, dtype: int64

In [14]:
df['Cabin']=encoder.fit_transform(df['Cabin'])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    int64
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Cabin        891 non-null    int64
 10  Embarked     891 non-null    int64
 11  Sex_female   891 non-null    int64
 12  Sex_male     891 non-null    int64
dtypes: float64(2), int64(10), object(1)
memory usage: 90.6+ KB

In [18]:
df['Ticket']=encoder.fit_transform(df['Ticket'])

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    int64
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    int64
 8   Fare         891 non-null    float64
 9   Cabin        891 non-null    int64
 10  Embarked     891 non-null    int64
 11  Sex_female   891 non-null    int64
 12  Sex_male     891 non-null    int64
dtypes: float64(2), int64(11)
memory usage: 90.6 KB