#Data preproccessing

In [3]:
import pandas as pd

In [71]:
for col in df.columns:
    if df[col].isnull().sum()>0:
        if df[col].dtype=='object':

IndentationError: expected an indented block (1321585124.py, line 3)

In [30]:
import numpy as np

In [39]:
from sklearn.preprocessing import LabelEncoder

In [4]:
import matplotlib as plt

In [5]:
import seaborn as srn

In [7]:
df = pd.read_csv('/Users/abduroshyd/Downloads/titanic 2.csv')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [10]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [14]:
df=df.dropna(subset='Embarked',axis=0)

In [16]:
df['Cabin'].fillna(df['Cabin'].mode()[0],inplace=True)

In [22]:
df['Age'].fillna(df['Age'].median(),inplace=True)

/var/folders/wh/dy7k6khj2rl3tts1n3g7lzn40000gn/T/ipykernel_89138/1527141296.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(),inplace=True)

In [23]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        889 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.3+ KB

In [73]:
df=pd.get_dummies(df,columns=['Sex'],dtype=int)

KeyError: "None of [Index(['Sex'], dtype='object')] are in the [columns]"

In [45]:
encoder=LabelEncoder()

In [38]:
!pip install scikit-learn

zsh:1: command not found: pip

In [47]:
df['Name']=encoder.fit_transform(df['Name'])

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    int64
 4   Age          889 non-null    float64
 5   SibSp        889 non-null    int64
 6   Parch        889 non-null    int64
 7   Ticket       889 non-null    object
 8   Fare         889 non-null    float64
 9   Cabin        889 non-null    object
 10  Embarked     889 non-null    object
 11  Sex_female   889 non-null    uint8
 12  Sex_male     889 non-null    uint8
dtypes: float64(2), int64(6), object(3), uint8(2)
memory usage: 85.1+ KB

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    int64
 4   Age          889 non-null    float64
 5   SibSp        889 non-null    int64
 6   Parch        889 non-null    int64
 7   Ticket       889 non-null    object
 8   Fare         889 non-null    float64
 9   Cabin        889 non-null    object
 10  Embarked     889 non-null    object
 11  Sex_female   889 non-null    uint8
 12  Sex_male     889 non-null    uint8
dtypes: float64(2), int64(6), object(3), uint8(2)
memory usage: 85.1+ KB

In [60]:
df['Cabin'].value_counts

<bound method IndexOpsMixin.value_counts of 0      B96 B98
1          C85
2      B96 B98
3         C123
4      B96 B98
        ...
886    B96 B98
887        B42
888    B96 B98
889       C148
890    B96 B98
Name: Cabin, Length: 889, dtype: object>

In [66]:
df['Embarked']=encoder.fit_transform(df['Embarked'])

In [68]:
df['Ticket'].value_counts

<bound method IndexOpsMixin.value_counts of 0             A/5 21171
1              PC 17599
2      STON/O2. 3101282
3                113803
4                373450
             ...
886              211536
887              112053
888          W./C. 6607
889              111369
890              370376
Name: Ticket, Length: 889, dtype: object>

In [74]:
frequency_encoding=df['Ticket'].value_counts().to_dict()

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Columns: 158 entries, PassengerId to Cabin_T
dtypes: float64(2), int64(153), object(1), uint8(2)
memory usage: 1.1+ MB

In [77]:
df.value_counts

<bound method DataFrame.value_counts of      PassengerId  Survived  Pclass  Name   Age  SibSp  Parch  \
0              1         0       3   108  22.0      1      0
1              2         1       1   190  38.0      1      0
2              3         1       3   353  26.0      0      0
3              4         1       1   272  35.0      1      0
4              5         0       3    15  35.0      0      0
..           ...       ...     ...   ...   ...    ...    ...
886          887         0       2   547  27.0      0      0
887          888         1       1   303  19.0      0      0
888          889         0       3   412  28.0      1      2
889          890         1       1    81  26.0      0      0
890          891         0       3   220  32.0      0      0

               Ticket     Fare  Embarked  ...  Cabin_E8  Cabin_F E69  \
0           A/5 21171   7.2500         2  ...         0            0
1            PC 17599  71.2833         0  ...         0            0
2    STON/O2. 3101282   7.9250         2  ...         0            0
3              113803  53.1000         2  ...         0            0
4              373450   8.0500         2  ...         0            0
..                ...      ...       ...  ...       ...          ...
886            211536  13.0000         2  ...         0            0
887            112053  30.0000         2  ...         0            0
888        W./C. 6607  23.4500         2  ...         0            0
889            111369  30.0000         0  ...         0            0
890            370376   7.7500         1  ...         0            0

     Cabin_F G63  Cabin_F G73  Cabin_F2  Cabin_F33  Cabin_F38  Cabin_F4  \
0              0            0         0          0          0         0
1              0            0         0          0          0         0
2              0            0         0          0          0         0
3              0            0         0          0          0         0
4              0            0         0          0          0         0
..           ...          ...       ...        ...        ...       ...
886            0            0         0          0          0         0
887            0            0         0          0          0         0
888            0            0         0          0          0         0
889            0            0         0          0          0         0
890            0            0         0          0          0         0

     Cabin_G6  Cabin_T
0           0        0
1           0        0
2           0        0
3           0        0
4           0        0
..        ...      ...
886         0        0
887         0        0
888         0        0
889         0        0
890         0        0

[889 rows x 158 columns]>